<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="utf-8" />
  <link rel="stylesheet"  href="./css/index.css">
  <title>WebP 自動圧縮導入</title>
  </head>
  <body>
    <main>
      <h1>Hello World</h1>
      <h2>JPG</h2>
      <picture>
        <source srcset="./assets/photo.webp" type="image/webp" width="300px" height="auto">
        <img src="./assets/pose_ng_woman.png" width="300px" height="auto">
      </picture>
      <img src="./assets/photo.jpg" width="300px" height="auto">
      <h2>PNG</h2>
      <picture>
        <source srcset="./assets/illust.webp" type="image/webp" width="300px" height="auto">
        <img src="./assets/pose_ng_woman.png" width="300px" height="auto">
      </picture>
      <img src="./assets/illust.png" width="300px" height="auto">
    </main>
  </body>
</html>
